.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #4facfe, #00f2fe);
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.switch {
    margin-top: 15px;
}

.switch span {
    color: #00c9a7;
    cursor: pointer;
}